.record-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

/* IMPORTANT FIX */
.mat-mdc-form-field {
  margin-top: 16px;
}

.file-upload {
  margin-top: 10px;
}

.file-error {
  color: #f44336;
  font-size: 13px;
  margin-top: 5px;
}