<h2 mat-dialog-title class="dialog-title">Create Account</h2>

<mat-dialog-content>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="signup-form">

    <!-- NAME -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name">

      <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>


    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">

      <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>

      <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
        Enter a valid email
      </mat-error>
    </mat-form-field>


    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>

      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">

        <mat-icon>
          {{ hidePassword ? 'visibility_off' : 'visibility' }}
        </mat-icon>

      </button>

      <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>

      <mat-error *ngIf="signupForm.get('password')?.hasError('minlength')">
        Minimum 6 characters required
      </mat-error>
    </mat-form-field>


    <!-- CONFIRM PASSWORD -->
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Confirm Password</mat-label>

  <input
    matInput
    [type]="hideConfirmPassword ? 'password' : 'text'"
    formControlName="passwordConfirm">

  <button
    mat-icon-button
    matSuffix
    type="button"
    (click)="hideConfirmPassword = !hideConfirmPassword">

    <mat-icon>
      {{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}
    </mat-icon>

  </button>

  <mat-error *ngIf="signupForm.get('passwordConfirm')?.hasError('required')">
    Confirm your password
  </mat-error>

  <mat-error *ngIf="signupForm.hasError('passwordMismatch')">
    Passwords do not match
  </mat-error>
</mat-form-field>


    <!-- BUTTON -->
    <button mat-raised-button color="primary" class="full-width signup-btn" type="submit" [disabled]="isLoading">

      <mat-progress-spinner *ngIf="isLoading" diameter="20" mode="indeterminate">
      </mat-progress-spinner>

      <span *ngIf="!isLoading">Sign Up</span>
  
    </button>

  </form>

  <div class="login-link">
    Already have an account?
    <a (click)="openLogin()">Login</a>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>