<mat-toolbar color="primary" class="navbar">

  <div class="logo-container">
    <img src="assets/Logo/logo.png" alt="Logo" class="logo">
  </div>

  <span class="spacer"></span>

  <!-- Not Logged In -->
  <div *ngIf="!isLoggedIn">
    <button mat-button>Contact</button>
    <button mat-button (click)="openLogin()">Login</button>
    <button mat-button (click)="openSignup()">Sign Up</button>
  </div>

  <!-- Logged In -->
  <div *ngIf="isLoggedIn">
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/patients">Patients</button>
    <button mat-button routerLink="/records">Records</button>
    <button mat-button (click)="logout()">Logout</button>
  </div>

</mat-toolbar>