.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.login-card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
}