<div class="records-container">

  <!-- HEADER -->
  <div class="patient-banner" *ngIf="patient">

  <div class="avatar">
    {{ patient.name.charAt(0) }}
  </div>

  <div class="patient-info">
    <h2>{{ patient.name }}</h2>
    <p>{{ patient.relation }} • {{ patient.dateOfBirth | date:'mediumDate' }}</p>
    <span class="record-count">
      {{ records.length }} Records
    </span>
  </div>

  <button
    mat-raised-button
    color="primary"
    (click)="openUploadDialog()">
    + Upload Record
  </button>

</div>


  <!-- EMPTY STATE -->
  <div *ngIf="records.length === 0 && !isLoading" class="empty-state">
    <mat-icon>description</mat-icon>
    <p>No records uploaded yet</p>
  </div>


  <!-- RECORD GRID -->
  <div class="records-grid">

    <mat-card *ngFor="let record of records" class="record-card">

      <!-- TOP SECTION -->
      <div class="record-top">

        <div>
          <h3>{{ record.recordType }}</h3>
          <span class="badge">{{ record.hospital }}</span>
        </div>

        <span class="record-date">
          {{ record.date | date:'mediumDate' }}
        </span>

      </div>

      <!-- MIDDLE -->
      <div class="record-middle">
        <p>
          Uploaded medical document related to {{ record.recordType }}.
        </p>
      </div>

      <!-- ACTIONS -->
      <div class="record-actions">

        <a
          [href]="'http://localhost:3000/' + record.file"
          target="_blank">
          View File
        </a>

        <button
          mat-icon-button
          color="warn"
          (click)="deleteRecord(record._id)">
          <mat-icon>delete</mat-icon>
        </button>

      </div>

    </mat-card>

  </div>

</div>